#TableContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    header {
        padding-top: 36px 0 12px 0;
        width: 100%;

        h1 {
            color: #2e5573;
            font-size: 26px;
            margin: 0;
            text-align: center;
        }
        h4 {
            color: #2e5573;
            font-size: 14px;
            text-align: center;
            margin-top: 26px;
        }
    }

    .register-cta-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
