#BtnCustom.btn-edit {
    background-color: rgb(226, 223, 223);
    border-radius: 6px;
    border: none;
    color: #063254;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 14px;
    text-decoration: none;
}

#BtnCustom.btn-remove {
    background-color: #d60436;
    color: #ffff;
}
